<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👷 in progress</title>

    <link rel="stylesheet" href="/src/assets/css/style.css">
    
</head>
<body class="body">

    <div id="vue-app" class="flex items-center justify-center h-screen">

        <div class="w-3/6 flex flex-col">
            <div class="title">
                <h1 class="title-header">
                    LaraQuiz
                </h1>
            </div>

            <div v-if="currentQ <= Count_Questions()" class="card">
                <div class="question">
                    {{ questions[currentQ]['q'] }}
                </div>
            
                <div v-for="(answer, index) in questions[currentQ].answers" class="space-between-items">
                  <div class="item">
                    {{ answer }}
                  </div>
                </div>

            </div>
        </div>

    </div>

    <script type="module" src="assets/js/app.js"></script>
</body>
</html>